{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if is_granted('ROLE_ADMIN') %}
    <a href = "http://localhost:8000/bareme/creerbareme"> Créer un barème </a>
    <a href = "http://localhost:8000/etudiant/uploadCSV"> Uploader un fichier csv </a>
    {% endif %}
    <a href = "http://localhost:8000/etudiant"> Retourner sur la page d'accueil </a>
    <h1> Bienvenu sur le site du VoltaireQ2Project ! {% if is_granted('ROLE_ADMIN') %} </h1> {% endif %}{% for etudiant in etudiants %}
    {% if etudiant.login == user.login %}
    {{etudiant.nomEtudiant}} {{etudiant.prenomEtudiant}}</h1>
    {% endif %}
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <p> Voici la liste des étudiants disponibles sur notre base de donnée , il y en a {{etudiants|length}} : </p>
    <table>
    	<tr>
    		<th> Nom Etudiant </th>
    		<th> Prenom Etudiant </th>
    		<th> Identifiant Etudiant </th>
    	</tr>
    	{% for etudiant in etudiants |sort %}
    	<tr> <th>{{ etudiant.nomEtudiant }}</th> <th>{{ etudiant.prenomEtudiant }}</th> <th> <a href = "http://localhost:8000/etudiant/noterEtudiant/{{etudiant.login}}" >{{ etudiant.login }} </a></th></tr>
     
 {% endfor %}
</table>
{% endif %}

    {% if is_granted('ROLE_USER') %}
    <p> Vous pouvez consulter vos données du projet Voltaire en cliquant ici : </p> <a href="http://localhost:8000/etudiant/noterEtudiant/{{user.login}}"> accéder à mes données </a>

{% endif %}

    


</div>
{% endblock %}
